<template>
	<view>
		<unicloud-db ref="udb" v-slot="{data, loading,pagination,error,hasMore}" collection="messageTable"
			orderby="time desc" :options="options" page-data="replace" field="message,time" :getone="false" :action="action"
			:where="where" showToast="true" @load="onqueryload" @error="onqueryerror" :page-size="pagesize">
			<view v-if="error">{{error.message}}</view>
			<view class="loading-txt" v-else-if="loading">正在加载...</view>
			<view v-else :loading="loading" :emptyText="error.message || '没有更多数据'">
				<view v-for="note in data" :key="note._id" class="white-panel">
					<view class="inner-box">
						<view class="note-date" ref="content_message">
							{{ note.time }}
						</view>
						<view class="note-content" ref="content_message">
							{{ note.message }}
						</view>
						<view class="bottom-btns">
							<button type="default" size="mini" class="btn-edit"
								@click="upadatedata(note._id,note.message)">修改</button>
							<button type="warn" size="mini" class="btn-del" @click="delnote(note._id)">删除</button>
						</view>
					</view>
				</view>
			</view>
		</unicloud-db>
	</view>
</template>

<script>
	const db = uniCloud.database()
	export default {
		data() {
			return {
				pagesize: 10,
				where: "public==true"
			}
		},
		onPullDownRefresh() { //下拉刷新
			this.$refs.udb.loadData({
				clear: true //可选参数，是否清空数据
			}, () => {
				uni.stopPullDownRefresh()
			})
		},
		onReachBottom() { //滚动到底翻页
			this.$refs.udb.loadMore()
		},
		onLoad: function() {
			this.$refs.udb.reset()
		},
		onShow() {
			this.$refs.udb.reset()
		},
		methods: {
			onqueryload(data, ended) {
				// 可在此处预处理数据，然后再渲染界面
			},
			onqueryerror(e) {
				// 加载数据失败
			},
			delnote(noteId) {
				uniCloud.callFunction({
					name: "fun",
					data: {
						api: "del",
						_id: noteId
					}
				}).then(res => {
					if (res.success) {
						uni.showToast({
							title: '删除成功',
							duration: 2000
						});
					}
				})
			},
			  upadatedata(noteId, messagecontent) {
				  // 在起始页面跳转到test.vue页面，并监听test.vue发送过来的事件数据
				  console.log("123")
				  uni.navigateTo({
					url: '/pages/notes/updateNote?id=' + noteId + '&data=' + messagecontent,
					animationType: "fade-in",
				  })
			  },
			moveToUpdatenNote(noteId, message) {
				// 在起始页面跳转到test.vue页面，并监听test.vue发送过来的事件数据
				uni.navigateTo({
					url: '/pages/notes/updateNote?id=' + noteId + '&data=' + message,
					animationType: "fade-in",
				})
			}

		},
	}
</script>

<style lang="scss">

	.note-list {
		background-color: $uni-bg-color-grey;
	}

	.text-area {
		display: flex;
		justify-content: center;
	}

	.title {
		font-size: 36rpx;
		color: #8f8f94;
	}

	.white-panel {
		box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.09);
		border-radius: 5px;
		margin: 8px 15px 15px;
	}

	.note-date {
		padding: 10px 15px 10px;
		font-size: 12px;
		color: #5e5e5e;
		border-bottom: 1px solid #f7f7f7;
	}

	.note-content {
		font-size: 14px;
		color: black;
		line-height: 16px;
		padding: 15px;
		min-height: 40px;
		display: block;
		word-break: break-all;
		overflow: hidden;
		word-wrap: break-word;
	}

	.bottom-btns {
		text-align: right;
		flex: 1;
		padding: 6px 10px;

		.btn-del {
			margin-left: 5px;
		}
	}

	.loading-txt {
		padding: 15px;
		font-size: 15px;
		color: #5e5e5e;
	}
</style>