<template>
	<view class="user_box">
		<view class="user_photo">
			<image src="../../static/logo.png" mode="" class="photo"></image>
		</view>
		<view class="right_msg">
			<view class="title">早上好</view>
			<view class="bones">
				今天温度很好
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			}
		},
		onLoad() {
			let token = uni.getStorageSync("token")
			let openId = "wxc941c5303252b994"
			let secret = "669caf79e75a3670623530591e32d5b3"
			if(!token) {
				 uni.login({
					"provider": "weixin",
					"onlyAuthorize": true, 
					success: function(loginRes) {
						 
						 const {code} = loginRes
						 uni.request({
							url: `https://api.weixin.qq.com/sns/jscode2session?appid=${openId}&secret=${secret}&js_code=${loginRes.code}&grant_type=authorization_code`,
							data: {
								code: loginRes.code
							},
							success: (res) => {
								//获得token完成登录
								uni.setStorageSync('token',res.token)
								console.log(res);
							}
						});
					},
					fail: function (err) {
						// 登录授权失败  
						// err.code是错误码
						console.log(err.code)
					}
				})
			}else {
				
			}
			
		},
		methods: {
			
		}
	}
</script>

<style>

</style>
