<template>
	<view class="addnote">
		<view class="bottom-input-area">
			<view class="title-area">
				<view class="date">{{ date }}</view>
				<view class="title">
					{{title}}
				</view>
			</view>
			<view class="text-area">
				<textarea class="textarea" @focus="isInput=true" @blur="isInput=false" placeholder="我想说..." v-model="textareaValue" />
				<view class="publish-btn">
					<button v-if="isInput || !haveNewData"  type="primary" size="mini" @click="publish">
						发布
					</button>
					<button v-if="haveNewData" type="primary" size="mini" @click="publish">
						修改
					</button>
				</view>
			</view>
			
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				date: this.getDate(),
				title: "时间，是最好的老师!",
				textareaValue: "",
				isInput: this.textareaValue? true: false,
				haveNewData: false,
				isUpate: false,
			}
		},
		onLoad: function(option) {
			// 调用时间函数
			this.getDate()
		},
		methods: {
			publish() {
				if(this.textareaValue) {
					uniCloud.callFunction({
						name: "fun",
						data: {
							api: "publish",
							message: this.textareaValue,
							time: new Date(),
						}
					}).then(res=>{
						console.log(res)
						this.textareaValue = ""
						uni.showToast({
							title: '发布成功',
							duration: 2000,
							success: function() {
								uni.$emit('refresh', { refresh: true });
								uni.switchTab({
									url: "/pages/index/index",
									success: function() {
										
									}
								})
							}
						});
					})
				}else {
					uni.showModal({
						title: "请输入你想说的话"
					})
					return;
				}

			},
			getDate () {
				// 获取年月份并且拼接到date中
				let date = new Date();
				let year = date.getFullYear();
				let month = date.getMonth() + 1;
				let day = date.getDate();
				this.date = year + "年" + month + "月" + day + "日";
				// 得出今天是星期几
				let week = date.getDay();
				switch (week) {
					case 0:
					  this.date += " 星期日";
					  break;
					case 1:
					  this.date += " 星期一";
					  break;
					case 2:
					  this.date += " 星期二";
					  break;
					case 3:
					  this.date += " 星期三";
					  break;
					case 4:
					  this.date += " 星期四";
					  break;
					case 5:
					  this.date += " 星期五";
					  break;
					case 6:
					  this.date += " 星期六";
					  break;
				}
				return this.date
			},
		},
	}
</script>

<style lang="scss">
	.addnote {
		height: 100vh;
		width: 100vw;
		position: relative;
		background-color: #fff;
	}
	.bottom-input-area {
		height: 50vh;
		background-color: #fff;
		.title-area {
			padding: 15px 15px 0;
		}
		.date {
			font-size: 12px;
			color: #5e5e5e;
			margin-bottom: 5px;
		}
	}
	.text-area {
		position: relative;
		padding: 10px 9px 10px 15px;
		.publish-btn {
			position: absolute;
			right: 15px;
			bottom: 10px;
			z-index: 666;
		}
	}
</style>