<template>
	<view class="addnote">
		<view class="bottom-input-area">
			<view class="text-area">
				<textarea class="textarea" v-model="textareaValue" placeholder="我想说..." />
				<view class="publish-btn">
					<button type="primary" size="mini" @click="updateNote">
						修改
					</button>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
  export default {
    data() {
		return {
			noteId: "",
			textareaValue: ""
		}
    },
	onLoad: function(option) {
		if (option) {
			this.noteId = option.id
			this.textareaValue = option.data
		}
	},
    methods: {
      updateNote() {
		  // console.log(this.noteId + "------" + this.textareaValue)
		  // this.$refs.udb.update(this.noteId, this.textareaValue,{
		  //   toastTitle: '修改成功', // toast提示语
		  //   success: (res) => { // 更新成功后的回调
		  // 	const { code, message } = res
		  // 	console.log(res)
		  //   },
		  //   fail: (err) => { // 更新失败后的回调
		  // 	const { message } = err
		  	
		  //   },
		  //   complete: () => { // 完成后的回调
		    
		  //   }
		  // })
        // 出提示，检查是否为空，如果空
        if(this.textareaValue) {
          uniCloud.callFunction({
            name: "fun",
            data: {
              api: "update",
              _id: this.noteId,
              newValue: this.textareaValue
            }
          }).then(res => {
              if(res.success) {
                uni.showToast({
                  title: '修改完成',
                  duration: 2000,
                  success: function() {
                    uni.navigateBack({
                      delta: 1,
                    })
                  }
                });
              }
          })
        }
        return 0
      }
    }
  }
</script>

<style lang="scss">
	.addnote {
		display: flex;
		align-items: flex-end;
		height: 100vh;
		position: relative;
		background-color: #fff;
	}
	.bottom-input-area {
		height: 90vh;
		display: flex;
		align-items: flex-end;
		background-color: #fff;
		.title-area {
			padding: 15px 15px 0;
		}
		.date {
			font-size: 12px;
			color: #5e5e5e;
			margin-bottom: 5px;
		}
	}
	.text-area {
		position: relative;
		padding: 10px 9px 10px 15px;
		.publish-btn {
			position: absolute;
			right: 15px;
			bottom: 10px;
			z-index: 666;
		}
	}
</style>